/*Made by Jenica Hidalgo*/
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;  
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


body{
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
}




header {
    background-color: rgb(223, 57, 57);
    color: #fff;
    padding: 1em;
    text-align: center;
}


.topnav {
    overflow: hidden;
}


.topnav a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}


.topnav a:hover {
    color: black;
}


.topnav a.active {
    background-color: grey;
    color: white;
}


.topnav img.logo {
    height: 50px;
    margin-left: 10px;
    float: right;
}


.heading{
    width:90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin:20px auto;
}


.heading h1{
    font-size: 50px;
    color:rgb(223, 57, 57);
    margin-bottom: 25px;
    position: relative;
}


.heading h1::after{
    content:"";
    position: absolute;
    width:100%;
    height: 4px;
    display: block;
    margin:0 auto;
    background-color: black;
}


.heading p{
    font-size: 18px;
    color:black;
    margin-bottom: 35px;
}


.container{
    width:90%;
    margin:0 auto;
    padding: 10px 20px;
}


.about{
    display:flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}


.hospital-image{
    flex:1;
    margin-right: 40px;
    overflow:hidden;
}


.hospital img {
    max-width: 100%;
    height: auto;
    display: block;
}


.about-content{
    flex:1;
}


.about-content h2{
    font-size: 23px;
    margin-bottom: 15px;
    color: rgb(223, 57, 57);
}


.boxes{
    width: 980px;
    height: 400px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin:0 auto;
}


.box{
    width: 800px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.box1{
    width: 800px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.box2{
    width: 800px;
    height: 400px;
    align-items: center;
    justify-content: center;
    text-align: center;
}


.boxes img{
    margin: 10px;
    width: 300px;
    height: 200px;
    display: flex;
}


.boxes h2 {
    font-size: 23px;
    margin-bottom: 15px;
    color: rgb(223, 57, 57);
}


.boxes p{
    font-size: 15px;
    color:black;
    margin-bottom: 35px;
